/*Estilos para secciones desarrolladas por Nataly */
.header-style{
    background-color: #fff;
    height: 50px;
}
.container-super-fluid{
    width: 100%;
    padding: 0;
}
.col-super-lg-12{
    width: 100%;
    padding: 0;
}
.image-car{
   /*  filter: grayscale(100%); */
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
/*     width: 100%;
    height: 700px;
    max-height: 1200px; */
}
.image-main{
    background-image: url(../assets/images/taxi.jpg);
  /*   width: 100%;
    height: 100%; */
} 
.orange{
    background-color: #f7b617;
}
.panel-right-main{
    padding-top:9%;
    padding-bottom:9%;
    padding-right: 5%;
    padding-left: 9%;
    width: 100%;
    line-height: 1.1;
    margin-top: 5%;
    margin-bottom: 5%; 
}
.panel-right-main p{
    font-size: 3rem;
    color:#fff;
}
.button-register{
    margin:1.5rem;
   
}
#sect-hero span{
    color:#fff;
}
.line-work{
    background-color: #f7b617;
    position: relative;
    top:-36px;
    left:50%;
    font-size: 1.8rem!important;
}
/*Estilos para xs*/
.panel-right-main span{
  font-size: 3rem;
}
.panel-right-main img{
    width: 20%;
    position: relative;
    top:-0.5rem;
    left: 0.5rem;
}
.button-app{
    margin-top: 10px;
}

/*Estilos de seccion App*/
.app-style{
    border: 2px solid #fff;
    color:#fff;
}
/*Estilos de seccion App-movil-xs*/

.app-style-xs{
    border: 2px solid #fff;
    color:#fff;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
section.orange > div > div:nth-child(2) > div.col-xs-12 > p{
  color: #fff;
  font-size: 1.8rem;
}
/*Clases reutilizables*/
.p-40{
    padding: 40px 0;
}
.p-10{
    padding-bottom: 10px;
    padding-top: 10px;
}
.m-10{
    margin-bottom: 10px;
    margin-top: 10px;
}
.fw-bold{
    font-weight: bold;
}
.pr-0{
    padding-right: 0;
}
section.orange > div > div > div > div.col-md-5.col-md-offset-1 > p{
    font-size: 2rem;
    margin-bottom: 20px;
}
/*********************/
/*Estilos de modales*/

.bgc-green{
    background-color:#08AC9D ;
}
.bgc-white{
    background-color: #fff;
}
#img_logo{
    width: 50%;
}
.modal-p{
    padding-left: 15rem;
    padding-right: 15rem;
}
.color-w{
    color: #fff;    
}
.color-red{
    color:red;
}
/*Estilo modal registro*/
.button-count{
    background-color: #333;
}
.button-count:hover{
    background-color: #333;
}
.color-gray{
    background-color: #a9a9a9;
}
.button-dropdow{
    background-color:gainsboro;
  
}
.a-dropdow{
    color: #333;
    
}
.a-dropdow:hover{
    color: #333;
    text-decoration: none;
}
h5{
    text-align: center;
}